@page "/"
@using FoldingAtHomeEtimo.Components.Cards
<PageTitle>Dashboard</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-4 pb-5 px-3 px-lg-5">
            <h1>Folding@Home - Blazor edition</h1>
            <div class="container-fluid p-0">
                <div class="row mx-2">
                    <TopTeamPieChart />
                </div>
            </div>
        </div>
    </div>
</div>

 