@using FoldingAtHomeEtimo.Components;
@using FoldingAtHomeEtimo.HttpRepositories
@using FoldingAtHomeEtimo.HttpRepositories.Models
@inject IProjectHttpRepository ProjectRepo;
@page "/managers"

<div cl
ass="row">
    <div class="col">


        <ManagerTable Managers="ManagerList" />

    </div>
</div>



@code {

    p