@using FoldingAtHomeEtimo.HttpRepository
@using FoldingAtHomeEtimo.Components;
@using FoldingAtHomeEtimo.HttpRepository.Models
@inject IProjectHttpRepository ProjectRepo;
@page "/managers/{managerId:int?}"

<div class="row">
    <div class="col">
        <ManagerModel Manager="Manager" />
    </div>
</div>

@code {
    [Parameter]
    public int ManagerId { get; set; } = 0;
    public Manager? Manager { get; set; }


    protected async override Task OnInitializedAsync()
    {
        Manager = await ProjectRepo.GetManager(ManagerId);
    }

}
