@using FoldingAtHomeEtimo.Components;
@using FoldingAtHomeEtimo.HttpRepositories
@using FoldingAtHomeEtimo.HttpRepositories.Models
@inject IProjectHttpRepository ProjectRepo;
@page "/managers/{managerId:int?}"

<div class="row">
    <di
v class="col">
            <Manage
rModel Manager="Manager" />
        </div>
v>




@code {
    [Parameter]

    public int ManagerId { get; set; } = 0;
public Manager? Manager { get; set; }

    
    protected async override Task OnInitializedAsync()
    {
        Manager = await ProjectRepo.GetManager(ManagerId);
    }

}











