@using FoldingAtHomeEtimo.HttpRepository
@using FoldingAtHomeEtimo.Components;
@using FoldingAtHomeEtimo.HttpRepository.Models
@page "/projects"

<div class="row">
    <div class="col">
        <ProjectTable Projects="ProjectList" />
    </div>
</div>

@code {
    public List<Project> ProjectList { get; set; } = new List<Project>();
    [Inject]

    public IProjectHttpRepository ProjectRepo { get; set; }

    protected async override Task OnInitializedAsync()
    {
        ProjectList = await ProjectRepo.GetProjects();
    }

}
