@inherits LayoutComponentBase

<div class="page">
    <RadzenDialog/>
    <RadzenNotification/>
    <RadzenContextMenu/>
    <RadzenTooltip/>

    <RadzenHeader>
        <RadzenSidebarToggle Click="@ToggleNavBar"/>
    </RadzenHeader>
    <RadzenBody>
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
    <NavMenu Visible="_navBarOpen"/>
    <RadzenFooter>

    </RadzenFooter>
    
    @code{

        private bool _navBarOpen = false;
        private void ToggleNavBar() => _navBarOpen = !_navBarOpen;

    }
</div>
