@using FoldingAtHomeEtimo.HttpRepositories.Models

<h3>Managers</h3>
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
    Data="@Managers" TItem="Manager" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">

    <Columns>
    <RadzenDataGridColumn TItem="Manager" Title="Photo" Frozen="true" Sortable="false" Filterable="false" Width="60px" >
            <Template Context="data">
                <RadzenImage Path="@data.GetBase64()" style="width: 40px; height: 40px; border-radius: 8px;" />
            </Template>
        </RadzenDataGridColumn>
    <RadzenDataGridColumn TItem="Manager" Property="Name" Title="Name" Frozen="true" Width="140px" />
    <RadzenDataGridColumn TItem="Manager" Property="Institution" Title="Institution" Frozen="true" Width="140px" />
    </Columns>
</RadzenDataGrid>

@code {
    [Parameter]
    public IEnumerable<Manager> Managers { get; set; }
}











