@using FoldingAtHomeEtimo.HttpRepositories.Models
>Managers</h3>
unt > 0)

="table">
ad>
    <tr>
        <th scope="col"></th>
        <th scope="col">Id</th>

        <th scope="col">Name</th>
        <th scope="col">Institution</th>
          </
      </thead>
      <tbody
          @f (var manager in Managers)
         {
            
            <td class="align-middle">
                <img src="data:image/gif;base64,@manager.Thumb" style="max-width:150px;width:100%" />
            </td>
            <td class="align-middle">
                <NavLink class="nav-link" href="@{$"managers/{manager.Id}"}">@manager.Id</NavLink>
            </td>
            <
td class="align-middle">
               @manager.Name
        </td>
                <td class="align-middle">
                        @manager.Institution
                    </td>
                </tr>
}
</tbody>
    </table>

else
{
    <span>
       
 Loading managers...
    </span>

}


@code {
    [Parameter]
    public List<Manager> Managers { get; set; }
}











