@using FoldingAtHomeEtimo.HttpRepositories.Models
<h3>ManagerModel</h3>

<img src="data:image/gif;base64,@Manager.Thumb" style="max-width:150px;width:100%" />
@Manager.Id
@Manager.Name
@Manager.Institution

@code {
    [Parameter]
    public Manager Manager {get; set;}

}
