@using FoldingAtHomeEtimo.HttpRepositories.Models
<h3>Projects</h3>
unt > 0)

="table">
ad>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Manager</th>

        <th scope="col">Description</th>
        <th scope="col">Modified</th>
           <
      </thead>
    <tbody>
       @fore (var project in Projects)
      {
         <tr
            <td class="align-middle">
                @project.Id
            </td>
            <td class="align-middle">
                @project.Manager
            </td>
iddle">
             
   @project.Description
           </td>
        <td class="align-middle">
                    @project.Modified
                    </td>

                </tr>
}
</tbody>
    </table>

else
{
    <span>
       
 Loading projects...
    </span>

}


@code {
    [Parameter]
    public List<Project> Projects { get; set; }
}









